<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Список заказов</h2>
<a href="{% url 'basket_create' %}">Создать новый заказ</a>
<ul>
    {% for basket in baskets %}
        <li>
            {{ basket.full_name }} | {{ basket.book.title }} | {{ basket.status }}
            <a href="{% url 'basket_update' basket.pk %}">Изменить</a>
            <a href="{% url 'basket_delete' basket.pk %}">Удалить</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>